.turn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px greenyellow;
    border-right: solid 4px greenyellow;
    color: black;
    background: lightgreen;
    transition: .4s;
}

.turn:hover {
    background: greenyellow;
    color: #FFF;
}