.HolyGrail,
.HolyGrail-body {
    display: flex;
    flex-direction: column;
}
header{
    background-color: lightgreen;
    border-bottom-color: rgb(119, 119, 119);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    display: block;
    height: 40px;
}

.HolyGrail-nav {
    order: -1;
}

@media (min-width: 768px) {
    .HolyGrail-body {
        flex-direction: row;
        flex: 1;
    }

    .HolyGrail-content {
        flex: 1;
    }

    .HolyGrail-nav,
    .HolyGrail-ads {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
    }
}